$size: 60px;

*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
    font-family: sans-serif;
    background-color: transparent;
}

fieldset.task-filter {
    position: fixed;
    top: 0;
    width: 100%;
    ul {
        display: flex;
        list-style: none;
        justify-content: flex-end;
    }
    .selected {
        font-size: 1.2em;
        font-weight: bold;
    }
    .task-filter-all {
        height: $size;
        width: $size;
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover {
            cursor: pointer;
        }
    }
    .task-filter-done {
        height: $size;
        width: $size;
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover {
            cursor: pointer;
        }
    }
    .task-filter-todo {
        height: $size;
        width: $size;
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover {
            cursor: pointer;
        }
    }
}

fieldset.task-item {
    font-size: 1.2em;
    .task-item-check {
        height: $size;
        width: $size;
        float: left;
        font-size: 1.5em;
        cursor: pointer;
    }
    .task-item-text {
        width: calc(100% - #{$size}*2);
        height: $size;
        display: flex;
        align-items: center;
        float: left;
        padding: .4em;
        font-size: inherit;
    }
    .task-item-delete {
        height: $size;
        width: $size;
        float: left;
        font-size: 1.5em;
        cursor: pointer;
    }
}

fieldset.new-task {
    font-size: 1.2em;
    position: fixed;
    bottom: 0;
    width: 100%;
    input {
        height: $size;
        width: calc(100% - #{$size});
        align-items: center;
        float: left;
        padding: .4em;
        font-size: inherit;
    }
    button {
        height: $size;
        width: $size;
        float: left;
        font-size: 1.5em;
    }
}

form {
    padding: $size 0;
}

.task-done {
    color: gray;
    position: relative;
    &::before {
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        border-top: 2px solid gray;
        content: '';
    }
}